/* Basic jQuery Slider essential styles */
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none; }

li.bjqs-slide {
  position: absolute;
  display: none; }

ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999; }

ul.bjqs-controls.v-centered li a {
  position: absolute; }

ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0; }

ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0; }

ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; }

ol.bjqs-markers.h-centered {
  text-align: center; }

ol.bjqs-markers li {
  display: inline; }

ol.bjqs-markers li a {
  display: inline-block; }

p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0; }

.bjqs li {
  background-color: #e8f2e5;
  font-size: 1.1em;
  font-family: "Open Sans", helvetica, arial; }

.bjqs li .btitle {
  font-weight: bold;
  font-size: 2.0em;
  line-height: 2.0em; }

.bjqs li .content {
  padding: 20px; }

.bjqs-wrapper {
  width: 800px; }

/* Demo CSS - You do not need this css in your own slider */
.bodyy {
  font-family: "Open Sans", helvetica, arial; }

#container {
  max-width: 100%;
  margin: 0 auto;
  /*padding-bottom:40px;*/ }

#banner-fade,
#banner-slide {
  margin-bottom: 20px;
  width: 100%; }

ul.bjqs-controls.v-centered li a {
  display: block;
  padding: 10px;
  background: #fff;
  color: #000;
  text-decoration: none; }

ul.bjqs-controls.v-centered li a:hover {
  background: #000;
  color: #fff; }

ol.bjqs-markers li a {
  padding: 5px 10px;
  background: #000;
  color: #fff;
  margin: 5px;
  text-decoration: none; }

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover {
  background: #999; }

p.bjqs-caption {
  background: rgba(255, 255, 255, 0.5); }

